# Configurações do VS Code
.vscode/

# Ambiente virtual
venv/
.env

# Banco de dados local
leads*.xlsx

# Backup
backups/

# Python
__pycache__/
*.py[cod]

# Arquivos gerados pelo PyInstaller
build/
dist/
*.spec
*.exe

# Logs
logs/
*.log